<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Кокарев Приятный шелест;Integrated Security=False" providerName="System.Data.SqlClient" />
  <add name="BaseModel" connectionString="data source=.\SQLEXPRESS;initial catalog=&quot;Кокарев Приятный шелест&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>